<p>https://github.com/devin-liu/phase-0-unit-2/tree/master/week-4/1-add-it-up</p>

<select id="cohorts" name="cohort">
  <% @cohorts.each do |cohort| %>
    <option value="<%= cohort.id %>"><%= cohort.name  %></option>
  <% end %>
</select>
<select id="students" name="student">
  <% @students.each do |student| %>
    <option value="<%= student.id %>" data-cohort-id="<%= student.cohort.id %>" data-username="<%= student.username %>"><%= student.name  %></option>
  <% end %>
</select>
<select id="weeks" name="week">
  <option>Week 1</option>
</select>
<select id="challenges" name="challenge">
  <% @challenges.each do |challenge| %>
    <option value="<%= challenge.path %>" data-week-id="<%= challenge.week %>"><%= challenge.name %></option>
  <% end %>
</select>

<div>
  <a id="solution-link"></a>
</div>

